/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {
  font-family: 'friendlist-icons';
  src:  url('../fonts/friendlist-icons.eot?bzktbx');
  src:  url('../fonts/friendlist-icons.eot?bzktbx#iefix') format('embedded-opentype'),
    url('../fonts/friendlist-icons.ttf?bzktbx') format('truetype'),
    url('../fonts/friendlist-icons.woff?bzktbx') format('woff'),
    url('../fonts/friendlist-icons.svg?bzktbx#friendlist-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'friendlist-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-time:before {
  content: "\e900";
}
.icon-user:before {
  content: "\e901";
}
.icon-heart-o:before {
  content: "\e902";
}
.icon-angle-right:before {
  content: "\e903";
}
.icon-angle-left:before {
  content: "\e904";
}
.icon-cloud:before {
  content: "\e905";
}
.icon-camera:before {
  content: "\e906";
}
.icon-coin-dollar:before {
  content: "\e93b";
}
.icon-users:before {
  content: "\e972";
}
.icon-radio-checked:before {
  content: "\ea54";
}




*,
*:before,
*:after {
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size:16px;
    font-weight:400;
    color:#111;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Raleway', sans-serif;
}
.hamburger{
  width:60px;
  height:45px;
  position:relative;
  cursor: pointer;
  float: right;
  margin: 20px 20px;
}
.hamburger span{
  background-color:#fff;
  position:absolute;
  display:block;
  height:5px;
  border-radius: 5px;
  width:30px;
 left:0;
 opacity: 1;
 z-index: 10;
 margin-left:10px;
}
.hamburger span:nth-child(2){
 top:10px;
}
.hamburger span:last-child{
 top:21px;
}

.kg-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}
.kg-container:after {
  content: "";
  display: block;
  clear: both;
}
.kg-header{
  margin: 0 auto;
  }
@media(max-width:767px){
nav ul{
  display:none;
}
.social{
  display:none;
}
}
@media (min-width: 576px) {
  .kg-container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 768px) {
  .kg-container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .hamburger{
    display:none;
  }
  nav ul li{
    list-style: none;
    padding:30px 12px;
  }
  nav ul li a{
    text-decoration: none;
    text-transform:uppercase;
    color:#fff;
  }
  .social li{
    list-style:none;
    display:inline-block;
    padding:15px;
  }
  .social li a{
    color:#fff;
    text-decoration: none;
  }

}

@media (min-width: 992px) {
  .kg-container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 1200px) {
  .kg-container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 576px) {
  .kg-container {
    width: 540px;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .kg-container {
    width: 720px;
    max-width: 100%;
  }
  .kg-header nav{
  margin: 0 auto;
}
.kg-header nav ul{
  text-align: center;
  padding-left: 0;
  list-style-type: none;
  margin:0;
}
.kg-header nav ul li{
  display: inline-block;
}

}

@media (min-width: 992px) {
  .kg-container {
    width: 960px;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .kg-container {
    width: 1140px;
    max-width: 100%;
  }
}
/*----------  Header Style 1  ----------*/
.kg-header{
  background-color: #ccc;
  maegin-top:0;
}
.kg-header .logo{
  float: left;
}
.kg-header .social{
  float: right;
}






/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    p:first-letter,
    div:first-letter,
    blockquote:first-letter,
    li:first-letter,
    p:first-line,
    div:first-line,
    blockquote:first-line,
    li:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
