/* ==========================================================================
    Few points to remeber for every CSS property
    +++++++++++++++++++++++++++++++++++++++++++++++
    • Default values for different elements
    • Overriding & different values that can be given
    • Inheritence
    • Can they be applied to all elements
    • Can they be animated
   ========================================================================== */
/*

Background related style properties
+++++++++++++++++++++++++++++++++++++++++++

~  background-color -
    ^ default value transparent
    ^ This property doesn't gets inherited
    ^ This property can be applied to all elements
    ^ You can animate
~  background-image - url()
    ^ default value none
    ^ This property doesn't gets inherited
    ^ This property can be applied to all elements
    ^ You can animate

~  background-repeat: repeat | no-repeat | repeat-x | repeat-y
    ^ default value is repeat
    ^ This property doesn't gets inherited
    ^ This property can be applied to all elements
    ^ You can't animate

~  background-attachment- fixed | scroll





background-position
background [color image repeat attachment position]
background-size – contain, cover
background-origin – border-box, padding-box, content-box
background-clip – 
multiple backgrounds – CSS3
Gradient Backgrounds – CSS3



auto;
inherit;

Background related important links
+++++++++++++++++++++++++++++++++++++++++++

https://developer.mozilla.org/en/docs/Web/CSS/background-color
*/

/* ==========================================================================
   Demo of Background related properties
   ========================================================================== */

body{
  background-image: url('../img/SM457150.jpg');
  background-attachment: fixed;
}
.box{
  width:300px;
  height:400px;
  border:solid 1px red;
}
.red-box{
  background-color:white;
  background-image: url('../img/diamond-pattern.png');
}
.green-box{
  background-color:white;
  background-image: url('../img/diagnal-lines-pattern.png');
  background-repeat: repeat-y;
}
.img-box{
  background-image: url(../img/miss-hillary.jpg);
}

.img-box1{
  background-image: url(../img/bullet-01.png);
}
.img-box2{
  background-image: url(../img/SM457150.jpg);
  background-color:red;
}
.img-box3{
  background-image: url(../img/frnds-transparent-bg.png);
  background-color:grey;
}
.bars{
  min-height: 500px;
  background-image: url('../img/diagnal-lines-pattern.png');
}
.lines{
  min-height: 500px;
  background-image: url('../img/diamond-pattern.png');
  background-attachment: fixed;
}

.img1{
  background-image: url('../img/SM457150.jpg');
  min-height:500px;
  background-attachment: fixed;
}

.img2{
  background-image: url('../img/SM487097.jpg');
  min-height:500px;
  background-attachment: scroll;
}

.img3{
  min-height:500px;
  background-image: url('../img/SM517083.jpg');
  background-attachment: fixed;
}
.img4{
  background-image: url('../img/horse-1210043_1920.jpg');
  min-height:500px;
  background-attachment: fixed;
  background-size: cover;
}


