/* ==========================================================================
    Few points to remeber for every CSS property
    +++++++++++++++++++++++++++++++++++++++++++++++
    • Default values for different elements
    • Overriding & different values that can be given
    • Inheritence
    • Can they be applied to all elements
    • Can they be animated
   ========================================================================== */
/*

Background related style properties
+++++++++++++++++++++++++++++++++++++++++++

~  background-color -
    ^ default value transparent
    ^ This property doesn't gets inherited
    ^ This property can be applied to all elements
    ^ You can animate
~  background-image - url()
    ^ default value none
    ^ This property doesn't gets inherited
    ^ This property can be applied to all elements
    ^ You can animate

~  background-repeat: repeat | no-repeat | repeat-x | repeat-y
    ^ default value is repeat
    ^ This property doesn't gets inherited
    ^ This property can be applied to all elements
    ^ You can't animate

~  background-attachment- fixed | scroll
    ^ default value is scroll
    ^ This property doesn't gets inherited
    ^ This property can be applied to all elements
    ^ You can't animate

~  background-position
        values are specified in key words as x & y codordinates
      for x - left center right
      for y - top center bottom
      you can also specify as length

    ^ default value is left top - 0 0
    ^ This property doesn't gets inherited
    ^ This property can be applied to all elements
    ^ You can't animate

background [color image repeat attachment position]

~  background-size – auto | contain | cover | -length-
    ^ default value is auto
    ^ This property doesn't gets inherited
    ^ This property can be applied to all elements
    ^ You can't animate





background-size – contain, cover
background-origin – border-box, padding-box, content-box
background-clip – 
multiple backgrounds – CSS3
Gradient Backgrounds – CSS3



auto;
inherit;

Background related important links
+++++++++++++++++++++++++++++++++++++++++++

https://developer.mozilla.org/en/docs/Web/CSS/background-color
*/

/* ==========================================================================
   Demo of Background related properties
   ========================================================================== */

body{
  background-image: url('../img/SM457150.jpg');
  background-attachment: fixed;
}
.box{
  width:300px;
  height:400px;
  border:solid 1px red;
}
.red-box{
  background-color:white;
  background-image: url('../img/diamond-pattern.png');
}
.green-box{
  background-color:white;
  background-image: url('../img/diagnal-lines-pattern.png');
  background-repeat: repeat-y;
}
.img-box{
  background-image: url(../img/miss-hillary.jpg);
}

.img-box1{
  background-image: url(../img/bullet-01.png);
}
.img-box2{
  background-image: url(../img/SM457150.jpg);
  background-color:red;

}
.img-box3{
  background-image: url(../img/frnds-transparent-bg.png);

  background: #65f0f7;
  background: -moz-linear-gradient(left,  #65f0f7 0%, #5b36ed 100%);
  background: -webkit-linear-gradient(left,  #65f0f7 0%,#5b36ed 100%);
  background: linear-gradient(to right,  #65f0f7 0%,#5b36ed 100%);

}
.bars{
  min-height: 500px;
  background-image: url('../img/diagnal-lines-pattern.png');
}
.lines{
  min-height: 500px;
  background-image: url('../img/diamond-pattern.png');
  background-attachment: fixed;
}

.img1{
  background-image: url('../img/SM457150.jpg');
  min-height:500px;
  background-attachment: fixed;
}

.img2{
  background-image: url('../img/SM487097.jpg');
  min-height:500px;
  background-attachment: scroll;
}

.img3{
  min-height:500px;
  background-image: url('../img/SM517083.jpg');
  background-attachment: fixed;
}
.img4{
  background-image: url('../img/horse-1210043_1920.jpg');
  min-height:500px;
  background-attachment: fixed;
  background-size: cover;
}


/* position demo */

.position-demo-title{
  font-size:40px;
  font-weight: normal;
  line-height: 200px;
  text-align: center;
  color:darkgreen;

  background-color:white;
  background-image: url('../img/floral-bg.png');
  background-repeat: no-repeat;
  background-position: center 130px;

  /* background: white url('../img/floral-bg.png') no-repeat scroll center 130px; */


}

.students{
  border:solid 10px grey;
  border-radius:20px;
  background-color:white;
  padding: 10px;
  margin:20px auto;
  width:800px;
}
.students *{
  box-sizing: border-box;
}
.students:after{
  content:"";
  display: table;
  clear: both;
}

.students > div{
  width:120px;
  height:120px;
  border-radius:50%;
  border: solid 2px grey;
  background-color:grey;
  float: left;
  text-align: center;
  margin:10px;
  background-repeat: no-repeat;
  background-image: url('../img/SM457150.jpg');
  position: relative;
} 
.students > div span{
  font-size:12px;
  text-transform: uppercase;
  background-color:rgba(0,0,0,.75);
  color:#FFF;
  padding:5px 10px;
  position: absolute;
  bottom:-10px;
  left:0;
  width:100%;
  border-radius:5px 5px 0 0;
} 
.stu-1{background-position: -7px -90px;}
.stu-2{background-position: -136px -74px;}
.stu-3{background-position: -218px -95px;}
.stu-4{background-position: -308px -83px;}
.stu-5{background-position: -408px -75px;}
.stu-6{background-position: -506px -89px;}
.stu-7{background-position: -584px -86px;}
.stu-8{background-position: -759px -74px;}

.students .all{
  width:300px;
  height:140px;
  border-radius:10px;
  border: solid 2px grey;
  background-color:grey;
  float: left;
  margin:10px;
  background-repeat: repeat;
  background-image: url('../img/SM457150.jpg');
  background-size:contain;
} 

.bg-white{
  background-color:white;
  padding:50px 0;
}

.students2{
  border:solid 40px rgba(255,0,0,.6);
  border-radius:20px;
  background-color:red;
  padding: 50px;
  margin:20px auto;
  min-height:300px;
  width:800px;
  background-image: url('../img/SM517083.jpg');
  background-repeat: no-repeat;
  background-origin: content-box;
  background-clip: content-box;
}


abbr[title] {
  position:relative;
  cursor: pointer;
  box-sizing:border-box;
}
abbr[title]:after {
  content: attr(title);
  background-color:rgba(0,0,0,.75);
  border-radius:5px;
  color:#FFF;
  font-size:1px;
  margin-left: 10px;
  padding:3px 6px;
  opacity: 0;
  position:absolute;
  top:0;
  right:0;
  box-sizing:border-box;
  transition: all 500ms ease-out;
}
abbr[title]:hover:after {
  opacity: 1;
  right:-70px;
  font-size:12px;
  transform:rotate(360deg);
}



/* 
[class^="stu-"] {
  width:100px;
  height:100px;
  border-radius:50%;
  background-color:grey;
  display: inline-block;
  text-align: center;
}
 */

