/* ==========================================================================
    Few points to remeber for every CSS property
    +++++++++++++++++++++++++++++++++++++++++++++++
    • Default values for different elements
    • Overriding & different values that can be given
    • Inheritence
    • Can they be applied to all elements
    • Can they be animated
   ========================================================================== */
/*

Position related style properties
+++++++++++++++++++++++++++++++++++++++++++

~  position: static | relative | absolute | sticky  |  fixed
    ^ default value static
    ^ This property doesn't gets inherited
    ^ This property can be applied to all elements
    ^ You can animate
    eg: 
      .someclass{position:relative}
      .someclass{position:absolute}
      .someclass{position:sticky}
      .someclass{position:fixed}

~  top   : <length>
~  left  : <length>
~  bottom: <length>
~  right : <length>
    ^ default value auto
    ^ This property doesn't gets inherited
    ^ This property can be applied to all positioned elements
    ^ You can animate

~  z-index: auto | <integer>
    ^ default value auto
    ^ This property doesn't gets inherited
    ^ This property can be applied to all positioned elements
    ^ You can animate



~  visibility: visible | hidden | collapse
Applies to all elements
overflow: visible | hidden | scroll | auto
overflow-x
overflow-y


auto;
inherit;

Background related important links
+++++++++++++++++++++++++++++++++++++++++++

https://developer.mozilla.org/en/docs/Web/CSS/background-color
*/

/* ==========================================================================
   Demo of Position related properties
   ========================================================================== */

.greybg{
  background-color:#DDD;
  padding: 20px 0;
}
.whitebg{
  background-color:#FFF;
  padding: 20px 0;
}

.wrapper{
  width:1000px;
  border: solid 1px #CCC;
  margin-left:auto;
  margin-right: auto;
}
.wrapper:after{
  content:"";
  clear: both;
  display: block;
}
.wrapper h2{
  font-weight: normal;
  text-align: center;
  background-color:grey;
  border-bottom: solid 5px #CCC;
  top:130px;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;



}

.box1{
  border: solid 1px red;
  position: static;
  top:100px;
}
.box2{
  border: solid 1px red;
}

.p-r-t{
  position: relative;
  top:45px;
  left:100px;
  background-color:lightblue;
}
.pr-tb{
  position: relative;
  bottom:100px;
  top:100px;
  right:50px;
  background-color:lightgreen;
}
.box3{
  width:60px;
  height:60px;
  border: solid 1px green;
  background-color:rgba(0,255,0,.5);
  float: left;
  margin-right: 5px;
  border-radius: 5px;
  text-align: center;
  line-height: 60px;
}
.pr-lt{
  position: relative;
  right:60px;
  top:10px;
}

.pr-z1{
  position: relative;
  z-index: 1;
}

.box4{
  border: solid 2px red;
}
.pa{
  background-color:rgba(255,0,0,.5);
  position: absolute;
  border-color: #000;
  left:20px;
  top:20px;
  width:100px;
  height:100px;
}
span.pa{
  z-index: 0;
  top:70px;
  left:70px;
  background-color:rgba(0,0,255,.8);
}
div.pa{
  z-index: 1;
}

.p-r{
  position: relative;
}

/*----------  Banner styles  ----------*/
.banner{
  border: solid 5px grey;
  border-radius:25px;
  position: relative;
}
.banner img{
  width:100%;
  display: block;
  border-radius:20px;
}
.banner h1{
  margin:0;
  padding:20px;
  color:#FFF;
  background-color:rgba(0,0,0,.8);
  position: absolute;
  left:0;
  right:0;
  bottom:0;
  text-align: center;
  font-weight:normal;
  border-radius:0 0 20px 20px;
}

.arrow{
  width:40px;
  height:40px;
  background-color:grey;
  border-radius:50%;
  position: absolute;
  top:0;
  bottom:0;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  line-height: 40px;
  text-transform: uppercase;
  font-size:12px;
  cursor: pointer;
}
.arrow.left{left:-20px;}
.arrow.right{right:-20px;}


.vis-demo{}
.vis-demo p:nth-child(odd){
  background-color:lightgreen;
  visibility:collapse;
}
.vis-demo p:nth-child(even){
  background-color:lightblue;
}




